<!DOCTYPE html>
<html>
<head>
  <script src="face-api.js"></script>
  <script src="axios.min.js"></script>
  <script src="commons.js"></script>
  <!-- <link rel="stylesheet" href="styles.css"> -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.css">
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
</head>
<body>
  <center>
    <button style="position: fixed;right: 0;left: 0;margin-right: auto;margin-left: auto;" onclick="loadScript('facedetection_js_dev01.js');" value="Proceed"><h6>START!</h6></button>
  </center>
    <center>
  <div id="all">
    <center>
      <div id="header" style="position:fixed;right: 0;left: 0;margin-right: auto;margin-left: auto;min-height: 20em;width: 90%;top: 1em">
      <div id="video_div"></div>
        <canvas id="overlay" />
      </div>
      <div id="spaces">
        <br><br><br><br><br><br><br><br><br>
      </div>
      <!-- <input style="position: fixed;right: 0;left: 0;margin-right: auto;margin-left: auto;min-height: 20em;height:100%;width:100%;top:0;bottom:0" class="btn" type="button" value="PLEASE WAIT - LOADING VIDEO" disabled="disabled" id="startbutton"></input>       -->
      <br><br>
      <div style="height:120px;width:700px;background-color:#eee;overflow-y:scroll;overflow-x:hidden;right: 0;left: 0;margin-right: auto;margin-left: auto;min-height: 20em;width: 90%;text-align: left" id="results-view"><br><br><br><h3><center></center></h3>
      </div>
    </center>
  </div>
  </center>
  <div id="spaces2"></div>
  <div id="faces_view">
  </div>
  <script>
    
  var myUrl, proxy
  function loadScript(script_url)
  {
      this.myUrl = 'https://r6---sn-p5qlsns6.googlevideo.com\/videoplayback?dur=38.730&clen=2528314&ratebypass=yes&expire=1529578044&fvip=6&key=yt6&mime=video%2Fmp4&c=WEB&pl=16&itag=18&mm=31%2C26&ip=54.87.84.248&mn=sn-p5qlsns6%2Csn-vgqsenlz&gir=yes&id=o-ACBNpjRTzT1AgGb6pjmOp5SFFD-v7H0JuKVlysr8_7oY&signature=9B7737F30900CA38991AE13E1BA6956F40074A1D.186AB649346D580E8A71B99AB8145AF13652F2DA&ms=au%2Conr&mt=1529556311&mv=m&ipbits=0&sparams=clen%2Cdur%2Cei%2Cgir%2Cid%2Cinitcwndbps%2Cip%2Cipbits%2Citag%2Clmt%2Cmime%2Cmm%2Cmn%2Cms%2Cmv%2Cpl%2Cratebypass%2Crequiressl%2Csource%2Cexpire&lmt=1456384411335926&fexp=23709359&requiressl=yes&ei=3C0rW8-iHpmEhgaY9I24Aw&source=youtube&initcwndbps=5820000'
      this.proxy = 'https://cors-anywhere.herokuapp.com/'
      $('#start_button').empty()
      var head= document.getElementsByTagName('head')[0]
      var script= document.createElement('script')
      script.type= 'text/javascript'
      script.src= script_url
      head.appendChild(script)
  }
  

// var promise = $.ajax({
  //   url: 'https://you-link.herokuapp.com/?url=' + 'https://www.youtube.com/watch?v=4nOSvpnCFTs',
  //   method: "GET"
  // }).then(function(response) {
  //   for(var i in response){
  //     if(String(response[i].type).split(";")[0] == "video\/mp4"){
  //       if(String(response[i].quality).split(";")[0] == "medium"){
  //         //console.log(response[i].url)
  //         return response[i].url
  //       }
  //     }
  //   }
  // })
  
  // $(function() {
  //     promise.done(function(myUrl) {
  
  
  //   })
  // }) 


  
    
  </script>
</body>
</html>