<!DOCTYPE html>
<html>
<head>
  <script src="face-api.js"></script>
  <script src="axios.min.js"></script>
  <script src="commons.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.css">
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
  <script type="text/javascript" src="html2canvas.js"></script>
</head>
<body>
  <center>
      <div id="header" style="position:fixed;height:10px;right: 0;left: 0;margin-right: auto;margin-left: auto;min-height: 10em;width: 100%;top: 1em;background-color:white">
        <div id='youtube_thumb'><h6>Loading...</h6></div>
        <button class="waves-effect waves-light btn-small" id="proceed_button" style="position: center;right: 0;left: 0;margin-right: auto;margin-left: auto" onclick="loadScript('facedetection_js_dev01.js');" value="Proceed" disabled='disabled'><i class='material-icons left'>play_arrow</i><h6>START!</h6></button>
        <div id="video_div"></div>
        <canvas id="overlay" />
      </div>
      <div id="spaces">
        <br><br><br><br><br><br>
      </div>
      <div id="loading_div"></div>
      <br><br>
      <div style="height:120px;width:700px;background-color:#eee;overflow-y:scroll;overflow-x:hidden;right: 0;left: 0;margin-right: auto;margin-left: auto;min-height: 20em;width: 90%;text-align: left" id="results-view"><br><br><br></div>
    <div id="all">
      <div id="spaces2"></div>
      <div id="faces_view"></div>
    </div>
  </center>
  <script>
  //var default_youtube_link = "https://www.youtube.com/watch?v=8HlqSrCazqo"
  var default_youtube_link = "https://www.youtube.com/watch?v=G5XHTPRqRfM"
  var apiKey = "AIzaSyCuYYszyFQE2cnSB8jQfDnYUhMAcH5LQyg"
  var user_input_link = prompt("Please insert a YouTube link", default_youtube_link)
  if (user_input_link === null) {
    user_input_link = default_youtube_link
  }
  var youtube_id = String(user_input_link).split("=")[1]
  var youtube_thumbnail = "https://i1.ytimg.com/vi/" + youtube_id + "/default.jpg"
  document.getElementById("results-view").style.display = "none"
  var video_link
  var Youtube = {}

  var promise = $.ajax({
    url: 'https://you-link.herokuapp.com/?url=' + user_input_link,
    method: "GET"
  }).then(function(response) {
    for(var i in response){
      if(String(response[i].type).split(";")[0] == "video\/mp4"){
        if(String(response[i].quality).split(";")[0] == "medium"){
          //console.log(response[i].url)
          return response[i].url
        }
      }
    }
  })
  
  $(function() {
      promise.done(function(myUrl) {
        Youtube.url = myUrl
        $.ajax({
              url: "https://www.googleapis.com/youtube/v3/videos?id=" + youtube_id + "&key="+ apiKey + "&fields=items(snippet(title))&part=snippet", 
              dataType: "jsonp",
              success: function(data){
                Youtube.title = data.items[0].snippet.title
                $('#youtube_thumb').html("<br><h5>" + Youtube.title + "</h5><img src='" + youtube_thumbnail + "'><br><br><br><h6>Please insert a confidence level between 0.1 and 0.9 (from lower to higher, default is 0.6) and press 'Start' to begin!<br><i class='material-icons prefix'>location_searching</i><input class='validate' style='width:2em;top:0;bottom:0;right:0;left:0;margin-right:auto;margin-left:auto' id='confidence' value='0.6'></h6>")
                document.getElementById("proceed_button").disabled = false
              }});
    })
  }) 

  function loadScript(script_url){
      $('#proceed_button').remove()
      $('#youtube_thumb').remove()
      Youtube.confidence = $('#confidence').val()
      $('#loading_div').html("<input style='position: fixed;right: 0;left: 0;margin-right: auto;margin-left: auto;min-height: 20em;height:100%;width:100%;top:0;bottom:0' class='btn' type='button' value='PLEASE WAIT - LOADING VIDEO' disabled='disabled' id='startbutton'></input>")
      document.getElementById("results-view").style.display = "block"
      var proxy = 'https://cors-anywhere.herokuapp.com/'
      this.video_link = proxy + Youtube.url
      $('#start_button').empty()
      var head = document.getElementsByTagName('head')[0]
      var script = document.createElement('script')
      script.type = 'text/javascript'
      script.src = script_url
      head.appendChild(script)}
  </script>
</body>
</html>