<!DOCTYPE html>
<html>
<head>
  <script src="face-api.js"></script>
  <script src="axios.min.js"></script>
  <script src="commons.js"></script>
  <script src="dom-to-image.min.js"></script>
  <link rel="stylesheet" href="styles.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.css">
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
</head>
<body>
  <center>
  <div id="all">
    <center>
      <div id="header" style="position: fixed;right: 0;left: 0;margin-right: auto;margin-left: auto;min-height: 20em;width: 90%;top: 1em">
          <video id="videoel" src="http://salty-plains-52394.herokuapp.com/media/video2.mp4" oncanplay="enablestart()" preload="auto" loop playsinline autoplay muted width="350"></video>
          <canvas id="overlay" />
      </div>
      <div id="spaces">
        <br><br><br><br><br><br><br><br><br>
      </div>
      <input style="position: fixed;right: 0;left: 0;margin-right: auto;margin-left: auto;min-height: 20em;height:100%;width:100%;top:0;bottom:0" class="btn" type="button" value="PLEASE WAIT - LOADING VIDEO" disabled="disabled" id="startbutton"></input>      
      <br><br>
      <div style="height:120px;width:700px;background-color:#eee;overflow-y:scroll;overflow-x:hidden;right: 0;left: 0;margin-right: auto;margin-left: auto;min-height: 20em;width: 90%;text-align: left" id="results-view"><br><br><br><h3><center></center></h3>
      </div>
    </center>
  </div>
  </center>
  <div id="spaces2"></div>
  <div id="faces_view">
  </div>
  <script>
    var init_var = 0.0
    let minConfidence = 0.5
    let net, result
    var result_list = ["   "]
    var vid = document.getElementById('videoel')
    var video_progress = -1
    var faces = []
    var count_faces = 0
    var max_faces = 100
    var times_list = []

      function enablestart() {
        //if (document.contains(document.getElementById('startbutton'))) {
          //document.getElementById('startbutton').value = "PLEASE WAIT - LOADING VIDEO " + "" + ((vid.duration - vid.currentTime)/vid.duration) + "%";
          //}
        if (init_var == 0.0) {
          vid.currentTime = vid.duration - (vid.duration * 0.03)
          this.init_var += 1.0
        } else {
          this.init_var += 1.0
        }
       onPlay(vid)
      }
     async function onPlay(videoEl) {
      if(videoEl.paused || videoEl.ended)
        return false

      if (video_progress <= vid.currentTime){
        const input = new faceapi.NetInput(videoEl)
        const { width, height } = input
        const canvas = $('#overlay').get(0)
        canvas.width = width
        canvas.height = height

        const ts = Date.now()
        result = await net.locateFaces(input, minConfidence)      
        $('#time').val(`${(Date.now() - ts)} ms`)
        $('#fps').val(`${faceapi.round(1000 / (Date.now() - ts))}`)

        current_time = (Date.now() - ts)
        current_fps = faceapi.round(1000 / (Date.now() - ts))
        current_time_sec = vid.currentTime
        total_faces_in_frame = Object.keys(result).length
        this.count_faces += total_faces_in_frame
        faces_info = JSON.stringify(result)
        const faceImages = await faceapi.extractFaces(input.canvases[0], result)
        
        if (result_list == ["   "]){
          vid.currentTime = 0
          this.result_list = []
        } else {
          this.times_list.push(parseFloat(current_time_sec))
          this.result_list.push("<font size='2'><h6><b>Video time (sec):</b> " + current_time_sec + "<br><b>Frame #:</b> " + current_fps + "<br><b>Faces in the frame:</b> " + total_faces_in_frame + "<br><b>Faces info:</b> " + faces_info + "</font>");
          this.result_list.push("<div style='display:inline-block'><center>")
          faceImages.forEach(function(canvas) {return this.result_list.push(canvas)})
          //faceImages.forEach(function(canvas) {if(count_faces < max_faces){return this.faces.push(canvas)}})
          faceImages.forEach(function(canvas) {return this.faces.push(canvas)})
          this.result_list.push("</center></div></h6><br><br>")
          this.video_progress = vid.currentTime

          if (document.contains(document.getElementById('startbutton'))) {
                document.getElementById('startbutton').remove()
                $('#results-view').empty()
              }

          $("#results-view").html(result_list)
          $('#results-view').scrollTop($('#results-view')[0].scrollHeight)
          setTimeout(() => onPlay(videoEl))
        }
      } else {
        vid.onplaying = function() {
          
          var GoogleCloudStorage = Promise.promisifyAll(require('@google-cloud/storage'));

          var storage = GoogleCloudStorage({
            projectId: 'FaceApp',
            keyFilename: 'FaceApp-3a969b9e55c8.json'
          })

          var BUCKET_NAME = 'my-bucket'
          // https://googlecloudplatform.github.io/google-cloud-node/#/docs/google-cloud/0.39.0/storage/bucket
          var myBucket = storage.bucket(BUCKET_NAME)

          // check if a file exists in bucket
          // https://googlecloudplatform.github.io/google-cloud-node/#/docs/google-cloud/0.39.0/storage/file?method=exists
          var file = myBucket.file('myImage.png')
          file.existsAsync()
            .then(exists => {
              if (exists) {
                // file exists in bucket
              }
            })
            .catch(err => {
              return err
            })
              
              
          // upload file to bucket
          // https://googlecloudplatform.github.io/google-cloud-node/#/docs/google-cloud/0.39.0/storage/bucket?method=upload
          let localFileLocation = './public/images/bbt1.jpg'
          myBucket.uploadAsync(localFileLocation, { public: true })
            .then(file => {
              // file saved
            })
              
          // get public url for file
          var getPublicThumbnailUrlForItem = file_name => {
            return `https://storage.googleapis.com/${BUCKET_NAME}/${file_name}`
            console.log(`https://storage.googleapis.com/${BUCKET_NAME}/${file_name}`)
          }

          // //save something in the dom to a file
          // domtoimage.toJpeg(document.getElementById('faces_view'), { quality: 0.95 })
          //   .then(function (dataUrl) {
          //       var link = document.createElement('a');
          //       link.download = 'image.jpeg';
          //       link.href = dataUrl;
          //       link.click();
          //   });






          $("#faces_view").attr("style","height:100px;width:700px;background-color:#eee;overflow-y:scroll;overflow-x:hidden;right: 0;left: 0;margin-right: auto;margin-left: auto;min-height: 20em;width: 50%;text-align: center")
          $("#faces_view").html(faces)
          vid.pause()
          vid.remove()
          $('#spaces').html("")
          start_time = Math.min(this.times_list)
          end_time = Math.max(this.times_list)
          console.log(start_time)
          console.log(end_time)
          $('#header').html("<center><h5>Results</h5><h6>" + count_faces + " faces found between " + parseFloat(start_time).toFixed(2) + "s and " + parseFloat(end_time).toFixed(2) + "s.</h6></center>")
          $('#spaces').html("<br><br>")
          $('#spaces2').html("<br>")
          $("#results-view").attr("style","height:300px;width:700px;background-color:#eee;overflow-y:scroll;overflow-x:hidden;right: 0;left: 0;margin-right: auto;margin-left: auto;min-height: 20em;width: 90%;text-align: left")    
        }; 
      return false
      }
    }
    async function run() {
      net = await initFaceDetectionNet()
    }

    vid.addEventListener('canplay', enablestart, false);

    $(document).ready(function() {
      run()
    })

  </script>
</body>
</html>
