<!DOCTYPE html>
<html>
<head>
  <script src="face-api.js"></script>
  <script src="axios.min.js"></script>
  <script src="commons.js"></script>
  <!-- <link rel="stylesheet" href="styles.css"> -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.css">
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
</head>
<body>
    <button style="position:fixed;right: 0;left: 0;margin-right: auto;margin-left: auto;min-height: 5em;width: 2em;top: 1em;" onclick="loadScript('facedetection_js_dev01.js');" value="Proceed"><h6>START!</h6></button>
  <center>
  <div id="all">
    <center>
      <div id="header" style="position:fixed;right: 0;left: 0;margin-right: auto;margin-left: auto;min-height: 20em;width: 90%;top: 1em">
      <div id="video_div"></div>
        <canvas id="overlay" />
      </div>
      <div id="spaces">
        <br><br><br><br><br><br><br><br><br>
      </div>
      <!-- <input style="position: fixed;right: 0;left: 0;margin-right: auto;margin-left: auto;min-height: 20em;height:100%;width:100%;top:0;bottom:0" class="btn" type="button" value="PLEASE WAIT - LOADING VIDEO" disabled="disabled" id="startbutton"></input>       -->
      <br><br>
      <div style="height:120px;width:700px;background-color:#eee;overflow-y:scroll;overflow-x:hidden;right: 0;left: 0;margin-right: auto;margin-left: auto;min-height: 20em;width: 90%;text-align: left" id="results-view"><br><br><br><h3><center></center></h3>
      </div>
    </center>
  </div>
  </center>
  <div id="spaces2"></div>
  <div id="faces_view">
  </div>
  <script>

  function loadScript(script_url)
  {
      console.log('START!')
      var head= document.getElementsByTagName('head')[0]
      var script= document.createElement('script')
      script.type= 'text/javascript'
      script.src= script_url
      head.appendChild(script)
  }
  

// var promise = $.ajax({
  //   url: 'https://you-link.herokuapp.com/?url=' + 'https://www.youtube.com/watch?v=4nOSvpnCFTs',
  //   method: "GET"
  // }).then(function(response) {
  //   for(var i in response){
  //     if(String(response[i].type).split(";")[0] == "video\/mp4"){
  //       if(String(response[i].quality).split(";")[0] == "medium"){
  //         //console.log(response[i].url)
  //         return response[i].url
  //       }
  //     }
  //   }
  // })
  
  // $(function() {
  //     promise.done(function(myUrl) {
  
  
  //   })
  // }) 


  
    
  </script>
</body>
</html>